%h2 About CAP Validator

%p
  CAP Validator is based on the
  %a{ :href => "http://www.aimred.com/projects/rcap", :title => 'RCAP - Common Alerting Protocol for Ruby' } RCAP
  Ruby API. It is currently running RCAP
  = RCAP::VERSION
  \. 

%p
  The following libraries are also used in this validator

%ul
  %li 
    %a{ :href => "http://www.sinatrarb.com" }Sinatra
  %li
    %a{ :href => "http://www.haml-lang.com" }HAML
  %li 
    %a{ :href => "http://coderay.rubychan.de" }CodeRay
