%form{ :action => '/validate', :method => 'post' } 
  %textarea{ :id => 'cap_data', :name => 'cap_data', :rows => 25 }= h( @cap_data )
  %p
    %input.validate_button{ :type => "submit", :value => "Validate" }
    %a.clear_button{ href: "#" }Clear

-#%p
-#  Or provide a URL pointing to a CAP document on the web:
-#  %form{ :action => '/validate_url', :method => 'post' } 
-#    %input{ :name => 'cap_data_url', :size => 50, :value => @cap_data_url }
-#    %input.validate_button{ :type => "submit", :value => "Validate" }
-#
-#%p
-#  Try these sample CAP documents:
-#%ul
-#  %li
-#    %a{ :href => validate_file_path( 'east_bay_wind_cap.xml' )} Wind Advisory for Northern California Coast, USA
-#  %li
-#    %a{ :href => validate_file_path( 'ottawa_roads_cap.xml' )} Road Conditions Advisory for Ottawa, Canada
-#  %li
-#    %a{ :href => validate_file_path( 'us_dhs_orange.xml' )} US Dept of Homeland Security Advisory
