%h2
  Validate a CAP Alert
%p
  Paste your CAP XML Alert in the text area below.

%form{ :action => '/validate', :method => 'post' } 
  %textarea{ :id => 'cap_data', :name => 'cap_data', :rows => 25 }= h( @cap_data )
  %p
    %input.validate_button{ :type => "submit", :value => "Validate" }
    %a.clear_button{ href: "#" }Clear

%h2
  Validate CAP Alert on the Web
%p 
  Paste a URL to a CAP XML Alert in the text field below.

%form{ :action => '/validate_url', :method => 'post' } 
  %input{ :name => 'cap_data_url', :size => 50, :value => @cap_data_url }
  %input.validate_button{ :type => "submit", :value => "Validate" }

%h2
  Example CAP Alerts
%p
  Click a link below to validate a sample CAP XML Alerts.
%ul
  %li
    %a{ :href => validate_file_path( 'east_bay_wind_cap.xml' )} Wind Advisory for Northern California Coast
    (CAP 1.1 with polygon mapping data)
  %li
    %a{ :href => validate_file_path( 'ottawa_roads_cap.xml' )} Road Conditions Advisory for Ottawa
    (CAP 1.1 with polygon mapping data)
  %li
    %a{ :href => validate_file_path( 'usgs_earthquake_cap.xml' )} US Geological Survey Earthquake Advisory
    (CAP 1.1 with circle mapping data)
  %li
    %a{ :href => validate_file_path( 'us_dhs_orange_cap.xml' )} US Dept of Homeland Security Advisory
    (CAP 1.2)
