%h2
  Validate a CAP Alert
%p
  Paste your CAP XML Alert in the text area below.

%form{ :action => '/validate', :method => 'post' } 
  %textarea{ :id => 'cap_data', :name => 'cap_data', :rows => 25 }= h( @cap_data )
  %p
    %input.btn.btn-primary{ :type => "submit", :value => "Validate" }
    %a#clear_button.btn{ href: "#" }Clear

:javascript
  $(document).ready( function() {
    $('#clear_button').click( function() {
      $('#cap_data').val( '' );
    });
  });

%h2
  Validate CAP Alert on the Web
%p 
  Paste a URL to a CAP XML Alert in the text field below.

%form.inline-form{ :action => '/validate_url', :method => 'post' } 
  %p
    %input.input-xxlarge{ :type => 'text', :name => 'cap_data_url', :value => @cap_data_url }
    %input.btn.btn-primary{ :type => "submit", :value => "Validate" }
      
- if ( nws_alerts = recent_nws_alerts ).any?
  %h2
    Recent NWS CAP Alerts
  %p
    Click a link below to validate a recent CAP Alert issued by the
    %a{ :href=> "http://alerts.weather.gov"}National Weather Service Alerts Feeds.
    
  %ul
    - nws_alerts.each do |item|
      %li
        %a{ :href => validate_file_path( item.link.href )}= item.title.content
