%html
  %head
    %title
      CAP Validator
    %link{ :type => 'text/css', :rel => 'stylesheet', :href=> 'stylesheets/smoothness/jquery-ui-1.8.11.custom.css' }
    %link{ :type => 'text/css', :rel => 'stylesheet', :href=> 'stylesheets/validator.css' }
    %script{ :type => 'text/javascript', :src => 'javascript/jquery-1.5.1.min.js' }
    %script{ :type => 'text/javascript', :src => 'javascript/jquery-ui-1.8.11.custom.min.js' }
  %body
    %h1 CAP Validator

    = yield
    
    :javascript
      $(document).ready( function() {
        $('#tabs').tabs();
        $('#validate_button').button();
        $('#clear_button').button();
      });
     
    #footer
      %p
        Developed by
        %a{ :href => "http://www.aimred.com" }Aimred
        in Cape Town, South Africa. Validated using
        %a{ :href => "http://www.aimred.com/projects/rcap" }
          RCAP
          = RCAP::VERSION
