!!! 5
%html
  %head
    %title Common Alerting Protocol Validator
    %link{ :type => 'text/css', :rel => 'stylesheet', :href=> 'stylesheets/smoothness/jquery-ui-1.8.11.custom.css' }
    %link{ :type => 'text/css', :rel => 'stylesheet', :href=> 'stylesheets/styles.css' }

    %script{ :type => 'text/javascript', :src => 'javascript/jquery-1.5.1.min.js' }
    %script{ :type => 'text/javascript', :src => 'javascript/jquery-ui-1.8.11.custom.min.js' }
    %script{ :type => 'text/javascript', :src => 'http://openlayers.org/api/OpenLayers.js' }
    %script{ :type => 'text/javascript', :src => 'javascript/mapping.js' }
  %body
    .container
      %h1
        %a{ :href => '/' }
          %img.cap_logo{ :src => 'images/cap-logo.png', 'alt' => 'CAP Logo' }
          Common Alerting Protocol Validator

      = yield

      #info.row
        .span6
          %h2 About CAP
          
          %p
            The Common Alerting Protocol (CAP) is a simple, flexible data interchange format for collecting and distributing “all-hazard” safety notifications and emergency warnings over information networks and public alerting systems. It is maintained by
            %a{ :href => "http://www.oasis-emergency.org/"}OASIS.

        .span6
          %h2 About RCAP
          
          %p
            %a{ :href => "http://www.aimred.com/projects/rcap" }RCAP
            is an implementation of the CAP document protocol in Ruby. It allows for the creation of RCAP messages from Ruby applications and the parsing of external messages.

          %p
            RCAP currently supports CAP 1.0, 1.1 and 1.2.

      %p#footer
        Developed by
        %a{ :href => "http://www.aimred.com" }Aimred
        in Cape Town, South Africa. Validated using
        %a{ :href => "http://www.aimred.com/projects/rcap" }RCAP
        == #{ RCAP::VERSION }.
        CAP Validator source available at
        %a{ :href => "http://github.com/farrel/CAP-Validator" }Github.
