#result { 
  text-align: center;
  width: 50%;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}

ul#navigation {
  margin-bottom: 5px;
  li {
    display: inline-block;
  }
}

div.float_left {
  float: left;
}

div.float_right { 
  float: right
}

.clear_both {
  clear: both;
}

.width_50 {
  width: 50%;
}

.border {
  border: solid 1px black;
  padding-left: 5px;
  padding-right: 5px;
}

#tabs {
  width: 50%;
}

#map {
  border: solid 1px black;
  height: 600px;
}

#content {
}

#info {
 clear: both;
 margin-top: 10px;
 width: 50%;
}

#footer {
  border-top: solid 1px gray;
  clear: both;
}

.line-numbers {
  background-color: #EEEEEE;
}
