#result { 
  text-align: center;
}

h2.valid {
  color: green;
}

p.valid {
  color: green;
}

h2.invalid {
  color: red;
}

p.invalid {
  color: red;
}

ul#navigation {
  margin-bottom: 5px;
  li {
    display: inline-block;
  }
}

div.float_left {
  float: left;
}

div.float_right { 
  float: right
}

.clear_both {
  clear: both;
}

.width_50 {
  width: 50%;
}

.border {
  border: solid 1px black;
  padding-left: 5px;
  padding-right: 5px;
}

#tabs {
  width: 48%;
  float: left;
}

#map_container {
  border: solid 1px black;
  margin-top: 5px;
  width: 48%;
  height: 600px;
  float: right;
}

#content {
  margin-bottom: 5px;
}

#info {
 clear: both;
 margin-top: 10px;
}

#footer {
  border-top: solid 1px gray;
  clear: both;
}

